*{
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
    font-family: sans-serif;
}

:root{
    --primary-color: #FB6714; 
}

html{
    font-size: 10px;
}

body{
    display: flex;
    align-items: center;
    justify-content: center;
}

.container{
    width: 360px;
   
    border: 1px rgb(0, 0, 0) solid;
}

nav{
    display: flex;
    justify-content: space-between;

    margin: 14px;
}

.logo{
    width: 210px;
}

.sidebar{
    color: gray;
    border: none;
    padding: 10px;
}

.background-paw{
    display: flex;
    flex-direction: column;
    gap: 20px;

    background-image: url(./assets/paw.png);
    background-size: 340px;
    background-repeat: no-repeat;
    background-position: center;

    padding: 25px;
}

.background-paw>h1{
    font-size: 4rem;
}

.background-paw>p{
    font-size: 1.5rem;
    color: #605F5F;
}

.background-paw>button{
    display: flex;
    justify-content: space-evenly;
    align-items: center;

    margin: auto;
    

    width: 280px;
    height: 50px;
    border: none;
    border-radius: 100px;
    background-color: #1751E5;
    color: white;
    font-size: 2.2rem;
}

.background-paw>button>img{
    width: 30px;
}

footer{
    background-color: var(--primary-color);
    
}

.footer-contact{
    list-style: none;
}