header{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container-logo-menu-button{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;

    width: 90%;
    margin-top: 25px;
}

.logo{
    width: 210px;
}

.menu-button{
    color: gray;
    border: none;
    padding: 10px;
}

.menu{
    display: none;
}

.menu-active{
    z-index: 99;
}

.container-header-description{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content:space-around;

    width: 90%;
}

.header-description{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;

    background-image: url(../assets/paw.png);
    background-size: 90%;
    background-repeat: no-repeat;
    background-position: center;

    width: 370px;
    padding: 30px; 
}

.header-description>h1{
    font-size: 4rem;
}

.header-description>p{
    font-size: 1.5rem;
    color: #605F5F;
}

.contact{
    display: flex;
    justify-content: space-evenly;
    align-items: center;

    text-decoration: none;
    padding: 20px;
    
    width: 280px;
    height: 50px;
    border: none;
    border-radius: 100px;
    background-color: #1751E5;
    color: white;
    font-size: 22px;
}

.contact>img{
    width: 30px;
}

.dog-cat-image{
    width: 100%;
}

@media (min-width: 640px) {
    .container-logo-menu-button{
        flex-direction: column;
        align-items: center;
        gap: 30px; 
    }

    .container-logo-menu-button .logo{
        width: 300px;
    }

    .menu{
        display: flex;
        justify-content: center;
        gap: 70px;
        width: 100%;
    }

    .menu button {
        font-weight: 700;
        color: var(--primary-color);
        border: none;
        background-color: white;
    }

    .container-logo-menu-button .menu-button{
        display: none;
    }

    .container-header-description{
        flex-direction: row;
    }

    .dog-cat-image{
        width: 35%;
    }
}

@media (min-width: 1080px) {
    .container-logo-menu-button{
        flex-direction: row;
    }

    .menu{
        justify-content: flex-end;
    }

    .header-description{
        width: 600px;
        height: 600px;
    }
}
