header{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container-logo-menu-button{
    display: flex;
    gap: 30px;

    margin: 14px;
}

.logo{
    width: 210px;
}

.menu-button{
    color: gray;
    border: none;
    padding: 10px;
}

.menu{
    display: none;
}

.menu-active{
    z-index: 99;
}

.container-background-paw-img{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    
    width: 100%;
}

.background-paw{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;

    background-image: url(../assets/paw.png);
    background-size: 90%;
    background-repeat: no-repeat;
    background-position: center;

    padding: 25px; 
    width: 340px;
}

.background-paw>h1{
    font-size: 4rem;
}

.background-paw>p{
    font-size: 1.5rem;
    color: #605F5F;
}

.contact{
    display: flex;
    justify-content: space-evenly;
    align-items: center;

    text-decoration: none;
    padding: 20px;
    
    width: 280px;
    height: 50px;
    border: none;
    border-radius: 100px;
    background-color: #1751E5;
    color: white;
    font-size: 22px;
}

.contact>img{
    width: 30px;
}

.dog-cat-image{
    width: 290px;
}

@media (min-width: 640px) {
    .container-logo-menu-button .logo{
        width: 400px;
    }

    .container-logo-menu-button .menu-button{
        display: none;
    }

    .container-background-paw-img{
        flex-direction: row;
    }
}

@media (min-width: 1080px) {
    .background-paw{
        width: 600px;
        height: 600px;
    }

    .dog-cat-image{
        width: 450px;
    }
}
